[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "==21.11b1"
pytest-console-scripts = "==1.2.1"
pytest-timeout = "==2.0.1"
pytest-cov = "==2.10.1"
pylint = "==3.0.0a4"
flake8 = "==4.0.1"
pytest-html = "*"
pytest-xdist = "==2.4.0"
columnar = "==1.3.1"
defusedxml = "*"
twine = "==3.7.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
